<div class="container-fluid">
<!-- <div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px"><<</div> -->
<div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px">H</div>
<div style="height:10px;"></div>
<div class="container1">
	<div class="col-xs-12"><h1 style="text-align:left;margin-top:-17px;margin-left:28px;">Clubs</h1></div></div>
	<center><h5>- - - - - - - - - - - -</h5></center>
	<div>{{searchvalue}}</div>

	{{#each friends}}

	<div class="myfriend container1">
	<div class="col-xs-12">
	<center><img src="{{imageURL}}" class="img-responsive img-rounded"/></center></div>
	<div class="col-xs-12 spacer"></div>
	<div class="descripdiv"><div class="projectlink">
	<!-- <a href="/project/{{link}}"> --><a href="#"><h3>{{name}}</h3></a>
	</div>
	<center><p>{{description}}</p></center></div>
	<div class="btn-group">
  <a class="btn btn-default" href="#"><i class="fa fa-tags"></i></a>
  <a class="btn btn-default" href="#">Tag 1</a>
    <a class="btn btn-default" href="#">Tag 2</a>
      <a class="btn btn-default" href="#">Tag 3</a>
        <a class="btn btn-default" href="#">Tag 4</a>
	</div>
		<center><h5>- - - - - - - - - - - -</h5></center>

	{{/each}}
	<center><h3><a href="#" id="BackToTop">Back to Top</a></h3></center>
	<div></div>

</div>
<div onclick="goBack()" id="backbutton1" ><<</div>
	<div></div>