<div class="container-fluid">
<!-- <div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px"><<</div> -->
<a href="/home" id="homebutton" class="btn btn-default" style="margin-left:-15px;"><i class="fa fa-home"></i></a>
<div style="height:10px;"></div>
<div class="container1">
	<div class="col-xs-12">
	<!-- <h1 style="text-align:left;margin-top:-17px;margin-left:28px;"> -->
	<h2 style="text-align:center;margin-top:-10px;">Club Directory</h2></div></div>
	<center>- + - + - + - + - + - + - + - + - + - +</center>
	<center style="margin-top:-18px;">+ - + - + - + - + - + - + - + - + - + -</center>
	<center style="margin-top:-18px;margin-bottom:10px;">- + - + - + - + - + - + - + - + - + - +</center>
	<div>{{searchvalue}}</div>

<!-- CLUB DIV -->

	{{#each friends}}

	<div class="striped container1 img-rounded" id="{{link}}" name="{{name}}" description="{{description}}">
	
	<div class="col-xs-12"><center><img src="{{imageURL}}" style="width:246px;" class="img-responsive img-rounded"/></center></div>

	<div class="col-xs-12 spacer"></div>

	<div class="descripdiv" id="{{name}}">
	 <center>
		<div class="clubnamestext">
			<h4>{{name}}</h4>{{#if joined}}<div style="position:absolute;font-size:9px;margin-top:-200px;margin-left:85%;"><i style="color:yellow;" class="fa fa-star fa-3x"></i></div>{{/if}}
		</div>

	<p class="descriptiontext">{{description}}</p>

	</center>
	</div>
<!-- <form style="display:none;" id="{{name}}form" action="/addclub" method="POST">
	<input type="text" id="nameee" value="{{name}}">
</form> -->

	<div class="btn-group" id="{{name}}">
  <button class="btn btn-default" style="font-size:10px" href="#"><i class="fa fa-tags"></i></button>
  <button class="btn btn-default" style="font-size:10px" href="#">{{tag1}}</button>
    <button class="btn btn-default" style="font-size:10px" href="#">{{tag2}}</button>
        <button class="btn btn-default" style="font-size:10px" href="#">{{tag3}}</button>
  <!--     <a class="btn btn-default" style="font-size:10px" href="/searchbytag/{{tag3}}">{{tag3}}</a> -->
	</div>

	<div class="col-xs-12" style="height:5px;"></div>

	{{#if joined}}
	<button class="col-xs-9 btn btn-default join" id="{{@index}}">LEAVE CLUB</button>
	<button class="col-xs-3 btn btn-default" style="font-size:9px;height:35px;">JOINED</button>

	{{/if}}
	{{#unless joined}}<button class="col-xs-12 btn btn-default join">JOIN</button>{{/unless}}


	</div>

	<div class="col-xs-12" style="height:2px;"></div>

	<center style="opacity:1;height:10px;">- + - + - + - + - + - + - + - + - + - + - + -</center>
	<center style="opacity:1;margin-top:-18px;">+ - + - + - + - + - + - + - + - + - + - + - +</center>
	<center style="opacity:1;margin-top:-18px;margin-bottom:30px;">- + - + - + - + - + - + - + - + - + - + - + -</center>

	{{/each}}

<!-- END OF CLUBS -->

	<center><h3><a class="btn btn-default" href="#" id="BackToTop">Back to Top</a></h3></center>
	<div></div>

</div>
<div onclick="goBack()" id="backbutton1" ><<</div>
	<div></div>

</div>
<div></div>