<div class="container-fluid">
<!-- <div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px"><<</div> -->
<div style="width:278px;">
<a href="/home" id="homebutton" class="btn btn-default" style="margin-left:-15px;margin-bottom:10px;width:75px;"><i class="fa fa-home"></i></a>

<a href="#" id="profilebutton" class="btn btn-default" style="margin-left:124px;margin-bottom:10px;width:75px;"><i class="fa fa-user" style="margin-left:2px;"></i></a>

</div>

<div class="container1">
	<div class="col-xs-12">

	<h3 style="text-align:center;margin-top:-10px;margin-bottom:-7px;width:278px;margin-left:-30px;margin-bottom:1px;" class="namestripe">Club Directory</h3></div>
</div>

	<div style="opacity:0.1;">
	<center>- + - + - + - + - + - + - + - + - + - +</center>
	<center style="margin-top:-18px;">+ - + - + - + - + - + - + - + - + - + -</center>
	<center style="margin-top:-18px;margin-bottom:0px;">- + - + - + - + - + - + - + - + - + - +</center>
	</div>

	<div><input type="text" placeholder="Search club directory..." class="col-xs-12"></input></div>

	<center>- + - + - + - + - + - + - + - + - + - +</center>
	<center style="margin-top:-18px;">+ - + - + - + - + - + - + - + - + - + -</center>
	<center style="margin-top:-18px;margin-bottom:10px;">- + - + - + - + - + - + - + - + - + - +</center>

	<div>{{searchvalue}}</div>

<!-- CLUB DIV -->

	{{#each friends}}

	<div class="striped container1 img-rounded" id="{{link}}" name="{{name}}" description="{{description}}">
	
	<div class="col-xs-12"><center><img src="{{imageURL}}" style="width:248px;" class="img-responsive img-rounded"/></center>


	</div>


	<div class="descripdiv2" id="{{name}}">
	 <center>
		<div class="clubnamestext">
			<h4 class="col-xs-12 namestripe">{{name}}

				<div id="join{{link}}star" style="position:absolute;font-size:9px;margin-top:-7%;margin-left:83%;display:none;"><i style="color:yellow;" class="fa fa-star fa-2x"></i></div>
				<div id="join{{link}}starnot" style="position:absolute;font-size:9px;margin-top:-7%;margin-left:83%;"><i style="color:yellow;" class="fa fa-star-o fa-2x"></i></div>
			</h4>
		</div>

	<p class="descriptiontext">{{description}}</p>

	</center>
	</div>

	<div class="btn-group" style="margin-top:-12px;" id="{{name}}">
  <div class="btn btn-default" style="font-size:10px" href="#"><i class="fa fa-tags"></i></div>
  {{#if tag1}}<div class="btn btn-default" style="font-size:10px" href="#">{{tag1}}</div>{{/if}}
    {{#if tag2}}<div class="btn btn-default" style="font-size:10px" href="#">{{tag2}}</div>{{/if}}
        {{#if tag3}}<div class="btn btn-default" style="font-size:10px" href="#">{{tag3}}</div>{{/if}}
  <!--     <a class="btn btn-default" style="font-size:10px" href="/searchbytag/{{tag3}}">{{tag3}}</a> -->
	</div>

	<div class="col-xs-12" style="height:15px;"></div>


	<button class="col-xs-4 button primary big profile">Profile</button>
	<div class="col-xs-4"></div>

	<div id="join{{link}}leave" style="display:none;" hack="join{{link}}">
	<a class="leave">
	<button class="col-xs-4 button primary big danger">Leave</button>
	</a>
	</div>

	<div id="join{{link}}"><a class="join"><button class="col-xs-4 button primary big">Join</button></a></div>


	</div>

	<div class="col-xs-12" style="height:2px;"></div>

	<center style="opacity:1;height:10px;">- + - + - + - + - + - + - + - + - + - + - + -</center>
	<center style="opacity:1;margin-top:-18px;">+ - + - + - + - + - + - + - + - + - + - + - +</center>
	<center style="opacity:1;margin-top:-18px;margin-bottom:30px;">- + - + - + - + - + - + - + - + - + - + - + -</center>

	{{/each}}

<!-- END OF CLUBS -->

	<center><h3><a class="btn btn-default" href="#" id="BackToTop">Back to Top</a></h3></center>
	<div></div>

</div>
<div onclick="goBack()" id="backbutton1" ><<</div>
	<div></div>

</div>

{{> navbar}}
