<div class="container-fluid">
<!-- <div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px"><<</div> -->
<a href="/home" id="homebutton" class="btn btn-default" style="margin-left:-15px;"><i class="fa fa-home"></i></a>
<div style="height:10px;"></div>
<div class="container1">
	<div class="col-xs-12"><h2 style="text-align:center;margin-top:-10px;">Explore</h2></div></div>
	<center><h5>- - - - - - - - - - - -</h5></center>

	<div onclick="getHelp()" style="position:absolute;margin-left:230px;margin-top:-40px;"><i class="fa fa-question-circle fa-2x"></i></div>

	<div id="chooseone"><center><h5>Please choose an option below.</h5></center></div>
	<div id="chooseclub" style="display:none;"><center><h5>Pick a club to join!</h5></center></div>

<div class="container-fluid clusters" id="toplevel">
	<div class="col-xs-6">
	<button id="academic" class="blue-pill">Academic</button></div>
	<div class="col-xs-6">
	<button id="cultural" class="blue-pill">Cultural</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-6">
	<button id="greek" class="blue-pill">Greek</button></div>
	<div class="col-xs-6">
	<button id="professional" class="blue-pill">Professional</button></div>
	
	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-6">
	<button id="social" class="blue-pill">Social</button></div>
	<div class="col-xs-6">
	<button id="active" class="blue-pill">Active</button></div>
</div>


<div class="container-fluid clusters" id="academicsubset" style="display:none;">
	<div class="col-xs-12">
	<button id="academic-science" class="blue-pill academic-science">Science</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-12">
	<button class="blue-pill academic-eng">Engineering</button></div>

	<div class="col-xs-12" style="height:30px;"></div>

	<div class="col-xs-12">
	<button class="blue-pill backbutton-to-toplevel">Back</button></div>
</div>

<div class="container-fluid clusters" id="culturalsubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill cultural-asia">Asia</button></div>
	<div class="col-xs-6">
	<button class="blue-pill cultural-africa">Africa</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-6">
	<button class="blue-pill cultural-europe">Europe</button></div>
	<div class="col-xs-6">
	<button class="blue-pill cultural-northamerica">N.America</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-6">
	<button class="blue-pill cultural-southamerica">S.America</button></div>
	<div class="col-xs-6">
	<button class="blue-pill cultural-more">More</button></div>

	<div class="col-xs-12" style="height:30px;"></div>

	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-toplevel">Back</button></div>
</div>

<div class="container-fluid clusters" id="greeksubset" style="display:none;">
	<div class="col-xs-12">
	<button class="blue-pill greek-guys">Guys</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-12">
	<button class="blue-pill greek-girls">Girls</button></div>

	<div class="col-xs-12" style="height:30px;"></div>

	<div class="col-xs-12">
	<button class="blue-pill backbutton-to-toplevel">Back</button></div>
</div>

<div class="container-fluid clusters" id="professionalsubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill professional-premed">Premed</button></div>
	<div class="col-xs-6">
	<button class="blue-pill professional-prehealth">Prehealth</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-6">
	<button class="blue-pill professional-prepharm">Prepharm</button></div>

	<div class="col-xs-12" style="height:30px;"></div>

	<div class="col-xs-12">
	<button class="blue-pill backbutton-to-toplevel">Back</button></div>
</div>

<div class="container-fluid clusters" id="socialsubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill social-videogames">Video Games</button></div>
	<div class="col-xs-6">
	<button class="blue-pill social-acapella">Acapella</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-6">
	<button class="blue-pill social-car">Car</button></div>

	<div class="col-xs-12" style="height:30px;"></div>

	<div class="col-xs-12">
	<button class="blue-pill backbutton-to-toplevel">Back</button></div>
</div>

<div class="container-fluid clusters" id="activesubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill active-martialarts">Martial Arts</button></div>
	<div class="col-xs-6">
	<button class="blue-pill active-dance">Dance</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-6">
	<button class="blue-pill active-more">More</button></div>

	<div class="col-xs-12" style="height:30px;"></div>

	<div class="col-xs-12">
	<button class="blue-pill backbutton-to-toplevel">Back</button></div>
</div>



<!-- END OF SUBSETS -->

<div class="container-fluid clusters" id="academic-sciencesubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">Science</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">Subset</button></div>

	<div class="col-xs-12" style="height:15px;"></div>

	<div class="col-xs-6">
	<button class="blue-pill">rdasfsafas</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">afasfafs</button></div>

	<div class="col-xs-12" style="height:30px;"></div>

	<div class="col-xs-12">
	<button class="blue-pill backbutton-to-academicsub">Back</button></div>


</div>

<div class="container-fluid clusters" id="academic-engsubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">Eng</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">Subset</button></div>
	<div class="col-xs-12">
	<button class="blue-pill backbutton-to-academicsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="cultural-asiasubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">ASIA</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-culturalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="cultural-africasubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">AFRICA</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-culturalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="cultural-europesubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">EUROPE</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-culturalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="cultural-northamericasubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">NORTHAMER</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-culturalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="cultural-southamericasubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">SOUTHAMER</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-culturalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="cultural-moresubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">MORE</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-culturalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="greek-guyssubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">GUYS</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-greeksub">Back</button></div>
</div>

<div class="container-fluid clusters" id="greek-girlssubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">GIRLS</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-greeksub">Back</button></div>
</div>

<div class="container-fluid clusters" id="professional-premedsubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">PREMED</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-professionalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="professional-prehealthsubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">PREHEALTH</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-professionalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="professional-prepharmsubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">PREPHARM</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-professionalsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="social-videogamessubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">VIDEO GAMES</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-socialsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="social-acapellasubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">ACAPELLA</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-socialsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="social-carsubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">CAR</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-socialsub">Back</button></div>
</div>

<div class="container-fluid clusters" id="active-martialartssubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">MARTIAL ARTS</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-activesub">Back</button></div>
</div>

<div class="container-fluid clusters" id="active-dancesubset" style="display:none;">
	<div class="col-xs-6">
	<button class="blue-pill">DANCE</button></div>
	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-activesub">Back</button></div>
</div>

<div class="container-fluid clusters" id="active-moresubset" style="display:none;">
	<center><div class="col-xs-12"><h2>{{friends.1.name}}</h2></div></center>
	<button class="col-xs-12 btn btn-default">JOIN</button>

	<hr></hr>

	<div class="col-xs-6">
	<button class="blue-pill">SUBSET</button></div>
	<div class="col-xs-6">
	<button class="blue-pill backbutton-to-activesub">Back</button></div>
</div>

	<!-- {{#each friends}}

	<div class="myfriend container1">
	<div class="col-xs-12">
	<center><img src="{{imageURL}}" class="img-responsive img-rounded"/></center></div>
	<div class="col-xs-12 spacer"></div>
	<div class="descripdiv"><div class="projectlink"><a href="/project/{{link}}"><h3>{{name}}</h3></a></div>
	<center><p>{{description}}</p></center></div>
	</div>
		<center><h5>- - - - - - - - - - - -</h5></center>

	{{/each}}

	<center><h3><a href="#" style="color:white;background-color:black;">Back to Top</a></h3></center> -->

</div>
