<div class="container-fluid">
<!-- <div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px"><<</div> -->
<a href="/home" id="homebutton" class="btn btn-default" style="margin-left:-15px;"><i class="fa fa-home"></i></a>
<div style="height:10px;"></div>
<div class="container1">
  <div class="col-xs-12"><h2 style="text-align:center;margin-top:-7px;">My Clubs</h2></div></div>

  <div style="opacity:0.1;">
  <center>- + - + - + - + - + - + - + - + - + - +</center>
  <center style="margin-top:-18px;">+ - + - + - + - + - + - + - + - + - + -</center>
  <center style="margin-top:-18px;margin-bottom:0px;">- + - + - + - + - + - + - + - + - + - +</center>
  </div>

  {{#each myfriends}}

  <div class="myfriend container1 striped img-rounded" id="{{link}}">
  <div class="col-xs-12">
  <center><img src="{{imageURL}}" style="width:248px;" class="img-responsive img-rounded"/></center></div>

  <center>
        <h4><div class="col-xs-12 namestripe">{{name}}</div></h4>
  </center>

<!-- officers -->
    <center><div class="col-xs-6 officerstripe">President</div><div class="col-xs-6 officerstripe">VP</div></center>

  <center><button class="col-xs-6 button big icon user"style="font-size:9px;"><div style="margin-top:2px;">{{president}}</div></button></center>
  <center><button class="col-xs-6 button big icon user" style="font-size:9px;"><div style="margin-top:2px;">{{vp}}</div></button></center>

  <!-- end officers --> 

  <div class="col-xs-12" style="height:15px;"></div>

  <a href="mailto:{{email}}"><button class="col-xs-6 button big primary icon mail">Contact</button></a>

  <a href="{{website}}"><button class="col-xs-6 button big primary icon arrowright">Website</button></a>

  <div class="col-xs-12" style="height:15px;"></div>


    <div class="col-xs-12" style="height:15px;"></div>


    <div class="col-xs-8"></div>
    <button class="col-xs-4 button danger removeitem">Leave</button>

     <center>- + - + - + - + - + - + - + - + - + - + - + -</center>
      <center style="margin-top:-18px;">+ - + - + - + - + - + - + - + - + - + - + - +</center>
      <center style="margin-top:-18px;margin-bottom:30px;">- + - + - + - + - + - + - + - + - + - + - + -</center>
  </div>



  {{/each}}

  <center><h3><a href="#" style="color:white;background-color:black;">Back to Top</a></h3></center>

</div>
