<div class="container">
	<h1>Project Name Below</h1>
  <h2>{{val}}{{projectName}}</h2>

	{{#each friends}}
	<div class="myfriend">

	<img src="{{imageURL}}" class="img-responsive img-rounded"/>
	<div><a href="#"><h3>{{name}}</h3></a></div>
	<p>{{description}}</p>
	<hr>

	</div>
	{{/each}}
  
</div>
