<div class="container-fluid">
<div onclick="goBack()" id="backbutton" style="margin-top:-10px;margin-bottom:10px"><<</div>
<div style="height:10px;"></div>
<div class="container1">
	<div class="col-xs-12"><h2 style="text-align:left;margin-top:-17px;margin-left:28px;">Search Clubs</h2></div></div>
	<center><h5>- - - - - - - - - - - -</h5></center>
	<center><h2><div>Search Query: {{searchvalue}}</div></h2></center>

	{{#each friends}}

	<div class="myfriend container1">
	<div class="col-xs-12">
	<center><img src="{{imageURL}}" class="img-responsive img-rounded"/></center></div>
	<div class="col-xs-12 spacer"></div>
	<div class="descripdiv"><div class="projectlink"><a href="/project/{{link}}"><h3>{{name}}</h3></a></div>
	<center><p>{{description}}</p></center></div>
	</div>{{#events}}
	<div>{{eventname}} - {{eventtype}} - {{eventdate}} - {{eventtime }} = {{eventlink}}</div>
	{{/events}}
		<center><h5>- - - - - - - - - - - -</h5></center>

	{{/each}}

	<div>Match #1:</div><div>Match #2:</div><div>Match #3:</div><div>Match #4:</div><div>Match #5:</div>

</div>
